@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 400px;
  border: 5px black solid;
  padding: 25px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 15px;
  background-color: hsl(216, 12%, 8%);
}

.number_container{
  display: flex;
  justify-content: space-around;
}

.circleContainer {
  border: 2px black solid;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  color: hsl(217, 12%, 63%);
  display: flex;
  justify-content: center;
  margin-top:10px;
 margin-bottom: 35px
}

.circleContainer:hover {
 background-color: hsl(216, 12%, 54%);
 
}

.starContainer {
  border: 2px black solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display:flex;
  background-color:hsl(213, 19%, 18%);
}

.starContainer img {
  width: 25px;
  height: auto;
  display: block;
  margin:auto;
  
}

.bBtn {
  padding: 15px 35px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
  background-color:  hsl(25, 97%, 53%);
  border-color: hsl(25, 97%, 53%);
  font-weight:lighter;
}

.bBtn:hover {
  color: hsl(25, 97%, 53%);
  border-color:  hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
}

.titleText {
  color:hsl(0, 0%, 100%);
}

.subtitleText {
  color:hsl(217, 12%, 63%);
}

.final_menu {
  display: flex;
  flex-direction: column;;
}

.final_menu img{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

}

.rating_container {
  background-color: hsl(213, 19%, 18%);
  border-radius: 15px;
  width: 200px;
  text-align: center;
  margin: auto;
  color:hsl(25, 97%, 53%);
}

.final_menu_title {
  text-align: center;
  color:white;
  font-size: 25px;
  margin-bottom: 0;
}

.final_menu_subtitle {
  text-align: center;
  color:hsl(217, 12%, 63%);
  
}